* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline-color: aqua;
}
button {
  display: block;
  padding: 0;
  border: 0;
  border: 1px solid black;
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  width: fit-content;
  margin: 0 auto;
}
.container input {
  background-color: darkcyan;
  padding: 10px;
  border: 0;
}
.container .innerContainer {
  display: flex;
}
.container .clearAndNumbers {
  flex-grow: 2;
}
.container .clearAndNumbers button {
  width: 100%;
}
.container .clearAndNumbers div {
  display: flex;
  flex-wrap: wrap-reverse;
}
.container .clearAndNumbers div button {
  width: 33.339%;
}
.container .ops {
  flex-grow: 1;
}
.container .ops button {
  width: 100%;
}
